<!-- this script tag simulates how third party cookies are added to a website -->
<script src="/javascripts/third-party-image.js"></script>
<!-- this script was used to set a third party cookie on the user's browser with the cors method
  <script src="/javascripts/set-third-party-cookie.js"></script> -->
<body>
  <h1><%= title %></h1>

  <!-- <p>Developer: Ming-Shih Wang</p> -->
  <% if (loggedIn) { %>
    <h2> Things generated when user is authenticated </h2>
    <h3>Session Object: not sent to the user</h3>
    <pre><%= session %></pre>
    <h3>Cookie Object: sent to the user</h3> 

    <!-- this for loop displays the cookies that are sent to the user -->
    <% for(let cookie in cookies){ %>
      <pre><%= cookie %>: <%= cookies[cookie] %></pre>
      <form id="delete-cookie-form" action="/deleteCookie?cookieName=<%= cookie %>" method="POST">
        <button type="submit">Delete cookie</button>
      </form>
    <% } %>


  <% } else { %>
   <p>Sign in to view your cookies!</p>
  <% } %>


</body>

